<h1>ログイン画面</h1>
<%= form_for @user, :url => check_path, :html => { :method => :post } do |user| %>
<p>
<%= user.label :login_id %><br>
<%= user.text_field :login_id %><br>
<%= user.label :password %><br>
<%= user.password_field :password_digest %>
</p>
<%= user.submit %>
<% end %>

