<html>
  <head>
    <%= stylesheet_link_tag    "login", :media => "all" %>
  </head>
  <body>
    <h1>ログイン画面</h1>
    <%= form_for @user, :url => check_path, :html => { :method => :post } do |user| %>
      <h3><%= user.label :login_id %></h3>
      <p><%= user.text_field :login_id %></p>
      <h3><%= user.label :password %></h3>
      <p><%= user.password_field :password_digest %></p>
    <p><%= user.submit(["Login"]) %></p>
    <% end %>
   <p><%= button_to "新規登録", users_new_path, :method => "get" %></p>
  </body>
</html>
