<%= from_for @new do |new| %>
  <p>
    <%= new.label :login_id %><br>
    <%= new.text_find :login_id %><br>
  </p>
    <%= new.label :name %><br>
    <%= new.label :name %>
  <p>
    <%= new.submit %>
  </p>
<% end %>
