<h2 id="dictionary_title">辞書</h2>
<div id="search">
  <%= form_tag('/dictionary', :method => :get) do %>
  <div id="radio">
    <%= radio_button 'page', 'category', 'EdictJE',{:checked => true} %>和英
    <%= radio_button 'page', 'category', 'EJdict',{} %>英和
  </div>
  <div id="serch_word">
    <%= label_tag "検索文字:" %>
    <%= text_field_tag :key_word %>
  </div>
  <div id="serch_button">
    <%= submit_tag :検索 %>
  </div>
<% end %>
</div>
<div id=result>
  <p id="result_text"><%= @result_text %></p>
</div>
<p id="back_button"><%= link_to "戻る", index_path %></p>
<script>
  function return_index(){
    var id = localStorage.getItem("user_id")
    window.location.href = "/index
  }
</script>
