<html>
  <head>
  </head>
  <body>
    <div id="edit_main">
      <h1 id="main_title">スケジュール登録・編集・削除</h1>

      <%= form_for @plan, :url => plans_update_path, :html => {:method => "put"} do |i| %>
        <p id="edit_user_id">
          <%= i.label "User_Id" %><br>
          <%= i.text_field "user_id", :readonly => true %>
        </p>
        <p id="edit_title">
          <%= i.label '[予定]' %><br>
          <%= i.text_field 'title' %>
        </p>
        <p id="edit_start">
          <%= i.label '[開始時間]' %><br>
          <%= i.datetime_select 'start_at' %>
        </p>
        <p id="edit_end">
          <%= i.label '[終了時間]' %><br>
          <%= i.datetime_select 'end_at' %>
        </p>
        <p id="edit_detail">
          <%= i.label '[詳細]' %><br>
          <%= i.text_field 'detail' %>
        </p>
        <p id="edit_color">
          <%= i.label '[色選択]' %><br>
          <%= i.collection_select 'color_id', Color.all, :id, :color_name, :include_blank => true %>
        </p>
        <p id="edit_save">
          <%= i.submit '登録', :id => "save_button" %>
        </p>

      <% end %>

      <p id="back"><%= link_to '戻る', index_path %></p>
    </div>
  </body>
  <script>
    var id = document.getElementById("plan_user_id");
    var user_id = localStorage.getItem("user_id");
    id.value = user_id;
    var time = localStorage.getItem("start");
    
    /* カレンダーからeditに遷移した場合の初期設定 */
    if(time != null){
      var times = time.split("/");

      /* 年設定  */
      var start_years = document.getElementById("plan_start_at_1i").getElementsByTagName('option');
      var end_years = document.getElementById("plan_end_at_1i").getElementsByTagName('option');
      for(var i = 0;i < years.length;i++){
        if(start_years[i].value == times[0]){
          start_years[i].selected = true;
          end_years[i].selected = true;
        }
      }

      /* 月設定  */
      if(times[1][0] == 0){
        times[1] = times[1][1];
      }
      var start_month = document.getElementById("plan_start_at_2i").getElementsByTagName('option');
      var end_month = document.getElementById("plan_end_at_2i").getElementsByTagName('option');
      for(var i = 0;i < years.length;i++){
        if(start_month[i].value == times[1]){
          start_month[i].selected = true;
          end_month[i].selected = true;
        }
      }
      /* 日設定  */
      if(times[2][0] == 0){
        times[2] = times[2][1];
      }
      var start_days = document.getElementById("plan_start_at_3i").getElementsByTagName('option');
      var end_dats = document.getElementById("plan_end_at_3i").getElementsByTagName('option');
      for(var i = 0;i < years.length;i++){
        if(start_month[i].value == times[2]){
          start_month[i].selected = true;
          end_month[i].selected = true;
        }
      }
    }
  </script>
</html>
