<html>
  <head>
  </head>
  <body>
    <div id="edit_main">
      <h1 id="main_title">スケジュール編集</h1>

      <%= form_for @plan, :url => plans_update_path, :html => {:method => "put"} do |i| %>
        <p id="edit_title">
          <%= i.label '[予定]' %><br>
          <%= i.text_field 'title' %>
        </p>
        <p id="edit_start">
          <%= i.label '[開始時間]' %><br>
          <%= i.datetime_select 'start_at' %>
        </p>
        <p id="edit_end">
          <%= i.label '[終了時間]' %><br>
          <%= i.datetime_select 'end_at' %>
        </p>
        <p id="edit_detail">
          <%= i.label '[詳細]' %><br>
          <%= i.text_field 'detail' %>
        </p>
        <p id="edit_color">
          <%= i.label '[色選択]' %><br>
          <%= i.collection_select 'color_id', Color.all, :id, :color_name, :include_blank => true %>
        </p>
        <p id="edit_save">
          <%= i.submit '登録', :id => "save_button" %>
        </p>

      <% end %>

      <p id="back"><%= link_to '戻る', index_path + "?user_id=" + params[:user_id].to_s  %></p>
    </div>
  </body>
  <script>
    var id = document.getElementById("plan_user_id");
    var user_id = localStorage.getItem("user_id");
    id.value = user_id;
  </script>
</html>
