<html>
  <head>
  </head>
  <body>
    <h1>スケジュール</h1>
    <aside id="aside">
      <p>今日の予定</p>
      <% @today_plans.each do |today_plan| %>
      <p><a href=<%= today_plan['link']  %>><%= today_plan['title']  %></a></p>
      <% end %>
      <%= form_tag('/dictionary', :method => :get) do %>
      <%= submit_tag "辞書" %>
      <% end %>
      <div id="minicalendar"></div>
    </aside>
    <script>
    /* 予定の取得  */
    window.datas = <%= raw @datas.to_json %>
    console.log(window.datas)
    </script>
    <div id="calendar"></div>

    <script>
    var id = localStorage.getItem("user_id");
    if(id == null || id != <%= @user_id %>){
      localStorage.setItem("user_id",<%= session[:user_id] %>);
      localStorage.setItem("user_name","<%= @user_name %>");
    }
    $(document).ready(function(){
      $('#calendar').fullCalendar({
        defaultDate: "<%= @day %>",
        allDaySlot: false,

        /* 表示するボタン */
        header: {
          left: 'prev,next today',
          center: 'title',
          right: 'month,agendaWeek,agendaDay'
        },

        /*　ボタンの名前変更　*/
        buttonText: {
          today: '今日',
          month: '月',
          week: '週',
          day: '日'
        },

        /* 初期表示  */
        defaultView: "<%= @disp %>",
    
        /* 曜日の名称  */
        dayNamesShort: ["日","月","火","水","木","金","土"],
        firstDay: 1,
        selectable: true,
        selectHelper: true,
        /* 予定反映  */
        events: window.datas,
        timeFormat: 'H:mm',
        titleFormat: 'YYYY年MM月DD日',
    
        /* 日付クリック時の処理  */
        dayClick: function(date,allDay) {
          var time = (moment(date).format('YYYY/MM/DD/hh/mm'));
          localStorage.setItem("start", time);
          window.location.href = "/show/" + <%= @length %> + "/new"
        }
      });
      $('#minicalendar').fullCalendar({
        header: {
          left: '',
          center: 'prev,next title',
          right: ''
        },

        /* 表示するボタン */

        /*　ボタンの名前変更　*/

        /* 初期表示  */
        defaultView:'month',
    
        /* 曜日の名称  */
        dayNamesShort: ["日","月","火","水","木","金","土"],
        firstDay: 1,
        businessHours: false,
        selectable: true,
        selectHelper: true,
        height: 200,
        contentHeight: 200,
        aspectRaito: 5.20,
        titleFormat: "YYYY年M月",

        /* 予定反映  */
    
        /* 日付クリック時の処理  */
        dayClick: function(date) {
          var day = date.format( 'YYYY-MM-DD' );
          window.location.href = "/index?day=" + day
        }
      });
    });
    /*指定した日付に天気をセット*/
    $(function() {
      var icon_url = [];
      <% @weather_icons.each do |icon| %>
        icon_url.push("<%= icon %>");
      <% end %>
      var count = 0;
      $('#calendar .fc-day-header').each(function(){
        var days = new Date();
        var day = days.getDate();
        if(day.length == 1){
          day = '0' + day;
        } 
        var month = days.getMonth()+1;
        var now_days = month + "/" + day;
        var str = ($(this).text().substring(2,6));
        if(now_days == str || count > 0 ){
          if(count < 5){
            $(this).append("<img src = http://openweathermap.org/img/w/"+ icon_url[count]  +".png width = 40 height = 40 /> ");
          }
          count++;
        } 
      });
      
      
    });
    </script>
  </body>
</html>
