<html>
  <head>
  </head>   
  <body>
    <div id="new_all">
      <h1>スケジュール登録</h1>
      <%= form_for @plan do |i| %>
        <p id="create_title">
          <%= i.label '[予定]' %><br>
          <%= i.text_field 'title', :maxlength => 100 %>
        </p>
        <p id="create_start">
          <%= i.label '[開始時間]' %><br>
          <%= i.datetime_select 'start_at' %>
        </p>
        <p id="create_end">
          <%= i.label '[終了時間]' %><br>
          <%= i.datetime_select 'end_at' %>
        </p>
        <p id="create_detail">
          <%= i.label '[詳細]' %><br>
          <%= i.text_area 'detail', cols:40, :maxlength => 170 %>
        </p>
        <% if flash[:alert] %>
            <div class="alert_denger" id= "new_error">
            <%= flash[:alert] %>
            </div>
         <% end %>
        <p id="create_color">
          <%= i.label '[色選択]' %><br>
          <%= i.collection_select 'color_id', Color.all, :id, :color_name %>
        </p>
        <p id="create_save">
          <%= i.submit '登録', :id => "save_button" %>
        </p>
      <% end %>
      <%= link_to "戻る", index_path %>
    </div>
  </body>
</html>

<script>
     var time = localStorage.getItem("start");
    /* カレンダーからeditに遷移した場合の初期設定 */
    if(time != null){
      var times = time.split("/");
      /* 年設定  */
      var start_years = document.getElementById("plan_start_at_1i").getElementsByTagName('option');
      var end_years = document.getElementById("plan_end_at_1i").getElementsByTagName('option');
      for(var i = 0;i < start_years.length;i++){
        if(start_years[i].value == times[0]){
          start_years[i].selected = true;
          end_years[i].selected = true;
        }
      }

      /* 月設定  */
      if(times[1][0] == 0){
        times[1] = times[1][1];
      }
      var start_month = document.getElementById("plan_start_at_2i").getElementsByTagName('option');
      var end_month = document.getElementById("plan_end_at_2i").getElementsByTagName('option');
      for(var i = 0;i < start_month.length;i++){
        if(start_month[i].value == times[1]){
          start_month[i].selected = true;
          end_month[i].selected = true;
        }
      }
      /* 日設定  */
      if(times[2][0] == 0){
        times[2] = times[2][1];
      }
      var start_days = document.getElementById("plan_start_at_3i").getElementsByTagName('option');
      var end_days = document.getElementById("plan_end_at_3i").getElementsByTagName('option');
      for(var i = 0;i < start_days.length;i++){
        if(start_days[i].value == times[2]){
          start_days[i].selected = true;
          end_days[i].selected = true;
        }
      }
      /* 時間設定  */
      var start_hours = document.getElementById("plan_start_at_4i").getElementsByTagName('option');
      var end_hours = document.getElementById("plan_end_at_4i").getElementsByTagName('option');
      for(var i = 0;i < start_hours.length;i++){
        if(start_hours[i].value == times[3]){
          start_hours[i].selected = true;
          end_hours[i].selected = true;
        }
      }
      /* 分設定  */
      var start_mins = document.getElementById("plan_start_at_5i").getElementsByTagName('option');
      var end_mins = document.getElementById("plan_end_at_5i").getElementsByTagName('option');
      for(var i = 0;i < start_mins.length;i++){
        if(start_mins[i].value == times[4]){
          start_mins[i].selected = true;
          end_mins[i].selected = true;
        }
      }
    }
</script>
