<h1><%= @plan.start_at.month %>/<%= @plan.start_at.day %></h1>

<p>予定：<%= @plan.title %></p>
<p>開始時間：<%= @plan.start_at.strftime("%H:%M") %></p>
<p>終了時間：<%= @plan.end_at.strftime("%H:%M") %></p>
<p>詳細：<%= @plan.detail %></p>
<%= link_to "戻る", index_path %>
<p><%= button_to "削除", plans_destroy_path, :method => :delete %></p>
<p><%= button_to "編集", plans_edit_path, :method => :get %></p>
