<!DOCTYPE html>
<html>
<style>
header{
  height:60px;
  border-bottom: solid 1px #000;
  text-align:right;
}
#name{
  display:inline-block;
}
#logout{
  display:inline-block;
}
#logo {
  display:inline-block;
}
#user_data {
  display:inline-block;
}
</style>
  <head>
    <title>ScheduleChecker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
        <%= link_to image_tag('cooltext249446792229098.png', :id => "logo"),session["user_id"]?index_path : root_path %>
      <div id="user_data">
        <p id="name"></p>
        <div id="logout">
          <%= form_tag('/logout') do %>
          <p id="logout_button"><%= submit_tag "ログアウト"%></p>
          <% end %>
        </div>
      </div>
    </header>
    <%= yield %>
  </body>
  <script>
    id = "<%= session[:user_id] %>";
    user_id = localStorage.getItem("user_id");
    user_name = localStorage.getItem("user_name");
    console.log(user_name)
    if (id != ""){
      link = document.getElementById("name");
      link.innerHTML = "<a href='users/show/"  + user_id  + "'>"+ user_name  + "</a>";
    }else{
      document.getElementById("user_data").style.display="none"
    }
  </script>
</html>
