<!DOCTYPE html>
<html>
  <head>
    <title>ScheduleChecker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div id="logo_eria">
        <%= link_to image_tag('cooltext249446792229098.png'),session["user_id"]?index_path : root_path %>
      </div>
      <div id="user_data">
        <p id="name"></p>
        <div id="logout">
          <%= form_tag('/logout') do %>
            <p id="logout_button"><%= submit_tag "ログアウト"%></p>
          <% end %>
        </div>
      </div>
    </header>
    <%= yield %>
  </body>
  <script>
    var id = "<%= session[:user_id] %>";
    var user_id = localStorage.getItem("user_id");
    var user_name = localStorage.getItem("user_name");
    if (id != ""){
      link = document.getElementById("name");
      link.innerHTML = "<a href='/users/show/"  + user_id  + "'>"+ user_name  + "</a>";
    }else{
      document.getElementById("user_data").style.display="none"
    }
  </script>
</html>
